.photo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.img {
    object-fit: contain;
    flex: 1;
    max-height: 90%;
}

.part_photo {
    max-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.part_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.figure-comment {
    text-align: center;
    flex: 1;
    font-size: 10px;
    padding-top: 0.25em;
    height: 10%;
}