.cover1 {
    /* background-image: url(cover.png);
    background-color: brown;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url(fb.jpeg);
    width: 100%;
    height: 100%;
    background-size: 100px 100px;
    object-fit: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0; */

}

.img-cover {
    /* width: 50%; */
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;

}

.slidev-layout.cover1 {
    /* @apply h-full; */
    /* background-color: brown; */
}