.slidev-layout {
  h1 {
    /* @apply bg-green-200; */
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
    margin-bottom: 0.5rem;
    /* 8px */
  }

  h2 {
    /* @apply bg-red-200; */
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    margin-top: 0.25rem;
    /* 4px */
    margin-bottom: 0.25rem;
    /* 4px */
  }

  h3 {
    /* @apply bg-yellow-200; */
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    margin-top: 0.25rem;
    /* 4px */
    margin-bottom: 0.25rem;
    /* 4px */
  }

  p {
    /* @apply bg-blue-200; */
    margin-top: 0.25rem;
    /* 4px */
    margin-bottom: 0.25rem;
    /* 4px */
    /* font-family: 'Microsoft YaHei', Arial; */
    line-height: 1.5rem;
    /* 24px */
    /* line-height: 1.75rem; */
    /* 28px */
    /* line-height: 2rem; */
    /* 32px */
    text-align: justify;
    /* 两端对齐 */
  }

  ul {
    list-style-type: disc;
    /* list-style: square; */
    /* @apply bg-purple-200; */
  }

  li {
    @apply leading-1.8em;
  }



  /* h1,
  h2,
  h3 {
    @apply font-serif;
  }

  h1+p {
    @apply -mt-4 opacity-50 mb-4 font-serif;
  }

  p+h2,
  ul+h2,
  table+h2 {
    @apply mt-10;
  }

  h3 {
    @apply text-sm pt-2 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h3:not(.opacity-100) {
    @apply opacity-40;
  }

  ul {
    list-style: disc;
  } */
}

.slidev-layout.cover {
  p {
    text-align: center;

  }
}